@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* CUSTOM RADIO */
.radio-btn{
  span{
   display: none;
  } 
}

.icon-radio-btn > input + span{
   display: none;
}

.icon-radio-btn div.ms-2 {
  margin-left: 0 !important;
}

.radio-btn {
  @apply w-6 h-6 border-2 rounded-full border-gray-500 flex justify-center items-center;
}

/* CUSTOM ICON */





